@import url("screen.css"); /* default gitit screen styles */
@import url("hk-pyg.css"); /* for syntax highlighting */

/**
 * The Preamble contains math environments and commands that are defined before
 * all other math content is displayed on the screen. By setting the preamble
 * flag on in the meta contents of a Gitit page, we can incorporate different
 * instructions to use.
*/
#preamble {
    display: none;
}

/* Table of Contents */

#wikipage #TOC {
    padding: 0.6em;
    margin-left: -8px;
}

.toc-icon {
    margin-left: 12px;
    border-radius: 90px;
    border: 5px solid rgba(133, 153, 0, 0.2);
}

/* Distinguish nested headers. */

hr {
    width: 60%;
    margin: 0 auto;
    margin-bottom: 15px;
}

section {
    padding: 0 10px;
    border-left: 1px solid;
}

section h1:not(.pageTitle),
section h2,
section h3 {
    border-bottom: 1px solid;
}

section.primary,
section h1:not(.pageTitle) {
    border-color: #2aa198;
}

section.primary hr {
    background-color: #2aa198;
}

section.secondary,
section h2 {
    border-color: #b58900;
}

section.secondary hr {
    background-color: #b58900;
}

section.tertiary,
section h3 {
    border-color: #6c71c4;
}

section.tertiary hr {
    background-color: #6c71c4;
}

/* Proof Toggles */

.proof .proof-icon {
    cursor: pointer;
}

.proof .proof-icon.plus {
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.proof .proof-icon.minus {
    background-color: #c9302c;
    border-color: #ac2925;
    padding-top: 1px;
}

.proof .proof-icon {
    color: #fff;
    display: inline-block;
    padding: 2px 8px;
    width: 30px;
    height: 30px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.proof .header {
    width: 95%;
    display: inline-block;
    padding: 5px 0px 5px 5px;
}

.proof .header.plus {
    border-bottom: 1px solid #4cae4c;
}

.proof .header.minus {
    border-bottom: 1px solid;
}

.proof .pane {
    padding: 10px;
    margin-top: 5px;
    border-left: 1px solid;
}

.proof .header.minus,
.proof .pane {
    border-color: #ac2925;
}


.proof .hidden {
    display: none;
}

.qed {
    width: 10px;
    height: 10px;
    float: right;
    margin-top: 10px;
    margin-right: 10px;
    background-color: black;
}

/* Force page section to encompass floated images. Same in extractions. */

.block:after,
.extracted:after {
    height: 0;
    clear: both;
    content: " ";
    display: block;
}

.block .figure,
.extracted .figure {
    float: right;
    margin: 0 0 10px 10px;
}

.block .figure .caption,
.extracted .figure .caption {
    text-align: center;
}

.extracted {
    padding: 10px;
    background-color: rgba(237, 50, 47, 0.03);
}

.extracted .header {
    font-size: 10px;
    font-style: italic;
    margin-bottom: 8px;
}

/* Format footnotes to be clearer and spaced. */

.footnotes {
    opacity: 0.4;
    border-top: 1px solid #aaa;
}

.footnotes hr {
    display: none;
}

#footnotediv a,
.footnotes ol a {
    padding-left: 4px;
}

#footnotediv p {
    margin-bottom: 2px;
}

/* Bookmarks */

#sidebar #bookmarks {
    padding-right: 8px;
    padding-bottom: 2px;
}
