@import url("screen.css"); /* default gitit screen styles */
@import url("hk-pyg.css"); /* for syntax highlighting */

/**
 * The Preamble contains math environments and commands that are defined before
 * all other math content is displayed on the screen. By setting the preamble
 * flag on in the meta contents of a Gitit page, we can incorporate different
 * instructions to use.
*/
#preamble {
    display: none;
}

/* Distinguish nested headers. */

#content h1:not(.pageTitle) {
    padding-left: 8px;
    border-left: 5px solid #dc322f;
}

#content h2 {
    padding-left: 8px;
    border-left: 5px solid #b58900;
}

#content h3 {
    padding-left:8px;
    border-left: 5px solid #859900;
}

/* Proof Toggles */

.proof .proof-icon {
    cursor: pointer;
}

.proof .proof-icon.plus {
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.proof .proof-icon.minus {
    background-color: #c9302c;
    border-color: #ac2925;
    padding-top: 1px;
}

.proof .proof-icon {
    color: #fff;
    display: inline-block;
    padding: 2px 8px;
    width: 30px;
    height: 30px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.proof .header {
    width: 95%;
    display: inline-block;
    padding: 5px 0px 5px 5px;
}

.proof .header.plus {
    border-bottom: 1px solid #4cae4c;
}

.proof .header.minus {
    border-bottom: 1px solid #ac2925;
}

.proof .pane {
    padding: 10px;
}

.proof .hidden {
    display: none;
}

/* Force page section to encompass floated images. */

.page-block:after {
    height: 0;
    clear: both;
    content: " ";
    display: block;
}

.page-block img {
    float: right;
}

/* End of Proofs */

.qed {
    width: 10px;
    height: 10px;
    float: right;
    margin-top: 10px;
    margin-right: 10px;
    background-color: black;
}

/* Format footnotes to be clearer and spaced. */

.footnotes {
    opacity: 0.4;
    border-top: 1px solid #aaa;
}

.footnotes hr {
    display: none;
}

#footnotediv a,
.footnotes ol a {
    padding-left: 4px;
}

#footnotediv p {
    margin-bottom: 2px;
}

