@import url("screen.css"); /* default gitit screen styles */
@import url("hk-pyg.css"); /* for syntax highlighting */

/**
 * The Preamble contains math environments and commands that are defined before
 * all other math content is displayed on the screen. By setting the preamble
 * flag on in the meta contents of a Gitit page, we can incorporate different
 * instructions to use.
*/
#preamble {
    display: none;
}

/**
 * Force the page header and optional image to stay above the rest
 * of the page.
*/
.page-block:after {
    height: 0;
    clear: both;
    content: " ";
    display: block;
}

.page-block img {
    float: right;
}

/**
 * Allow nested headers to show this visualization.
*/
#content h2 {
    padding-left: 10px;
    border-left: 5px solid #aaa;
}
